@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700')
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
section{
    min-height: 100vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 85%;
    margin: auto;   
}
nav{
    height: 80px;
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color:#eb7620;
}
nav ul{
    float: right;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
